<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="veterinaria,alimento para mascotas,bravecto centro clinico veterinario, veterinario, cuidado animal, mordedor canino">
    <meta name="description"
        content="Los mejores juguetes, abrigos, alimentos balanceados, medicamentos y cuidados los podes encontrar aquí. Comprando en CCQ te aseguras la mejor calidad al mejor precio">
    <link rel="shortcut icon" href="../images/salud.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Centro Clínico Veterinario - Productos</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- CSS Propio-->
    <link rel="stylesheet" href="../css/style.css" />
</head>

<!-----------------------------------------------------------Inicio del header------------------------------------------------------------------->

<body data-aos="fade-up">
    <header id="arriba">
        <nav class="navbar nav__color navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../images/veterinario.png" alt="logo" width="40" height="40"
                        class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler btn-menu" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" navbar-collapse collapse menusuperior justify-content-lg-end" id="navbarTogglerDemo01">

                    <div class="navbar-nav  ">
                        <a class="nav-link" href="../index.html">Inicio</a>
                        <a class="nav-link" aria-current="page" href="../views/productos.html">Productos</a>
                        <a class="nav-link" href="../views/servicios.html">Servicios</a>
                        <a class="nav-link" href="../views/sobrenosotros.html">Sobre Nosotros</a>
                        <a class="nav-link" href="../views/contacto.html">Contacto </a>
                    </div>
                </div>
            </div>
            </div>
        </nav>
    </header>

    <!-----------------------------------------------------------Inicio del aside------------------------------------------------------------------->
    <div class="grid-todo">
        <aside class="asideespecial">
            <form action class="formularioo">
                <h1 class="tamaño">Productos</h1>
                <p>Alimentos</p>
                <input type="checkbox" name="pts" class="cuadradito">
                <p>Juguetes</p>
                <input type="checkbox" name="jts" class="cuadradito">
                <p>Accesorios</p>
                <input type="checkbox" name="ars" class="cuadradito">
                <p>Vestimenta</p>
                <input type="checkbox" name="vta" class="cuadradito">
                <p>Otros</p>
                <input type="checkbox" name="other" class="cuadradito">
            </form>
        </aside>


        <!-----------------------------------------------------------Inicio del main------------------------------------------------------------------->
        <main>
            <div class="productosflex">
                <div class="productodrc grid-productos">
                    <div class="articulo1">
                        <img src="../images/alimentogato.jpg" alt="alimento pro plan" class="imgespecial1">
                        <hr>
                        <p>$4000</p>
                        <p>Alimento pro plan sabor pollo y arroz</p>
                        <a href="../views/contacto.html"><button type="button"
                                class="btn btn-primary col-6 btn-arreglo">Consultar</button>
                        </a>
                    </div>
                    <div class="articulo2">
                        <img src="../images/juguetee.jpg" alt="mordedor de perro" class="imgespecial2">
                        <hr>
                        <p>$500</p>
                        <p>Juguete mordedor doble nudo de 15cm</p>
                        <a href="../views/contacto.html"><button type="button"
                                class="btn btn-primary col-6 btn-arreglo">Consultar</button>
                        </a>
                    </div>

                    <div class="articulo3">
                        <img src="../images/medicamento.jpg" alt="medicamento bravecto" class="imgespecial3">
                        <hr>
                        <p>$1500</p>
                        <p>Medicamento bravecto para las pulgas</p>
                        <a href="../views/contacto.html"><button type="button"
                                class="btn btn-primary col-6 btn-arreglo">Consultar</button>
                        </a>
                    </div>
                    <div class="articulo4">
                        <img src="../images/alimento.jpg" alt="alimento raza" class="imgespecial4">
                        <hr>
                        <p>$3500</p>
                        <p>Alimento raza para perro adulto (5kg)</p>
                        <a href="../views/contacto.html"><button type="button"
                                class="btn btn-primary col-6 btn-arreglo">Consultar</button>
                        </a>
                    </div>
                    <div class="articulo5">
                        <img src="../images/juguete-gato.jpeg" alt="Varita de gato" class="imgespecial5">
                        <hr>
                        <p>$800</p>
                        <p>Juguete para gato: Varita con pompón </p>
                        <a href="../views/contacto.html"><button type="button"
                                class="btn btn-primary col-6 btn-arreglo">Consultar</button>
                        </a>
                    </div>
                    <div class="articulo6">
                        <img src="../images/profender.jpg" alt="medicamento profender" class="imgespecial6">
                        <hr>
                        <p>$455</p>
                        <p>Medicamento profender para las pulgas</p>
                        <a href="../views/contacto.html"><button type="button"
                                class="btn btn-primary col-6 btn-arreglo">Consultar</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-----------------------------------------------------------Inicio del footer------------------------------------------------------------------->

    <footer id="abajo">
        <ul class="menuinferior">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#arriba">Productos</a></li>
            <li><a href="../views/servicios.html">Servicios</a></li>
            <li><a href="../views/sobrenosotros.html">Sobre Nosotros</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
        <div class="redes">
            <h2 class="spam">Redes Sociales</h2>
            <a href="https://www.facebook.com/profile.php?id=100075297172040" target="_blank"><img
                    src="../images/facebook.png" alt="Icono facebook" class="fc"></a>
            <a href="https://www.instagram.com/ccqvetmendoza/" target="_blank"><img src="../images/instagram.png"
                    alt="Icono instagram" class="ig"></a>
            <a href="https://twitter.com/Estyyy_15" target="_blank"> <img src="../images/tw.png" alt="Icono twitter"
                    class="tw"></a>
        </div>
        <div class="contacto">
            <h3 class="tittlecontacto">CONTÁCTENOS</h3>
            <p class="dato">281-800-3546</p>
            <div class="dato">
                <a href="mailto: ccqvetmendoza@gmail.com">ccqvetmendoza@gmail.com</a>
            </div>
            <p class="dato">Lun. a Vie. de 09:00 a 13:00 y de 16:00 a 20:30</p>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>