<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/salud.png">
    <link rel="stylesheet" href="../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap" rel="stylesheet">
    <title>SobreNosotros</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="grid">
        <header id="arriba">
            <div class="logo">
                <img src="../images/veterinario.png" alt="logo">
            </div>
            <nav>
                <ul class="menusuperior">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./Productos.html">Productos</a></li>
                    <li><a href="./Servicios.html">Servicios</a></li>
                    <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
                    <li><a href="./Contacto.html">Contacto</a></li>
                </ul>
            </nav>
            <div class="iconheader">
                <a href="../views/usuario.html"> <img src="../images/user.png" alt="Icono usuario"></a>
                <a href="../views/carrito.html"><img src="../images/carro.png" alt="Icono carrito"></a>
            </div>
        </header>

        <!--Inicio de Información del body-->
        <div id="papa">
            <div class="primero">
                <h3 class="tituloo">¿Quiénes somos?</h3>
                <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima minus quod voluptate
                    voluptas dicta ex
                    eius,
                    ipsam eos nam vitae molestiae asperiores cumque similique beatae! Totam assumenda voluptatibus
                    voluptates
                    consequatur?</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, dolor temporibus impedit quas
                    accusamus vitae fugit incidunt, nemo facilis assumenda nulla repudiandae praesentium distinctio
                    perspiciatis veritatis. Assumenda recusandae quibusdam animi.</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur laborum deleniti minima sit
                    earum ratione inventore nulla sapiente animi quia optio consequatur, sint cumque odio rem qui
                    maiores corporis cum?</p>
            </div>
            <div class="imagenn">
                <img src="../images/equipo.jpg" alt="Equipo de trabajo" class="izq">
            </div>
        </div>
        <div id="papa2">
            <section class="segundo">
                <h3 class="titulooo">Nuestra historia</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus laboriosam saepe fugit
                    impeditnihil, ipsam quas beatae reprehenderit mollitia, quam ad, excepturi quos voluptate delectus
                    animivel deleniti dicta illum?</p>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta repellat dolore, fugiat, commodi
                    architecto atque repudiandae aliquam nisi beatae tenetur facere enim ipsam. Omnis ipsam ad eos ea
                    cum maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maxime fugiat
                    aliquam sint repellat natus corrupti vero fuga esse magni atque reprehenderit iste aut porro
                    distinctio itaque, earum facere. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo
                    blanditiis maiores quos aliquid quae odio eum dolores ab iste vero modi omnis, porro corporis
                    expedita! Tempore debitis minima eius eaque?
                </p>

                <img src="../images/local.jpeg" alt="local por fuera" class="localcito">
            </section>
        </div>
        <div id="papa3">
            <section class="tercero">
                <h3 class="tituloo">Nuestro equipo</h3>
                <p>Doctor Leonardo Fradin. Recibido en la Universidad Nacional de Rio Cuarto </p>
                <img src="../images/profesional.jpg" alt="Licenciado Fradin" class="izq1">
            </section>
        </div>


        <!--Inicio Footer-->

        <footer id="abajo">
            <ul class="menuinferior">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="Productos.html">Productos</a></li>
                <li><a href="Servicios.html">Servicios</a></li>
                <li><a href="#arriba">Sobre Nosotros</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
            <div class="redes">
                <h2 class="spam">Redes Sociales</h2>
                <a href="https://www.facebook.com/profile.php?id=100075297172040" target="_blank"><img
                        src="../images/facebook.png" alt="Icono facebook"></a>
                <a href="https://www.instagram.com/ccqvetmendoza/" target="_blank"><img src="../images/instagram.png"
                        alt="Icono instagram"></a>
                <a href="https://twitter.com/Estyyy_15" target="_blank"> <img src="../images/tw.png"
                        alt="Icono twitter"></a>
            </div>
            <div class="contacto">
                <h3 class="tittlecontacto">CONTÁCTENOS</h3>
                <p class="dato">281-800-3546</p>
                <div class="dato">
                    <a href="mailto: ccqvetmendoza@gmail.com">ccqvetmendoza@gmail.com</a>
                </div>
                <p class="dato">Lun. a Vie. de 09:00 a 13:00 y de 16:00 a 20:30</p>
            </div>
        </footer>
    </div>
    </div>
</body>

</html>