
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

    body {

        background-color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }

    .informacion {
        text-align: center;
        height: auto;
    }

    .carousel-item {
        height: auto;
    }

    .informacion2 {
        text-align: center;
        height:auto;
    }

    #segundo {
        background-color: $color-fondo2;
        width: 100%;
        text-align: center;
        font-size: 40px;
    }

    .tittleservice {
        text-align: center;
        margin-top: 20px;
        
    }

    .nofondo {
        width: 100%;
        background-color: $color-fondo2;

    }

    .todoservicios {
        background-color: $color-fondo2;
    }
    
    .centro {
    position: absolute; top:10px; left: 10px;
    }

    .servis p {
        font-size: 25px;
    }

    .servis img {
        width: 150px;
        height: 150px;
        border-radius: 150px;
        justify-content: space-between;
        opacity: 1;
        margin-bottom: 10px ; 
    }
   
    .servis img:hover {
        width: 200px;
        height: 200px;
        border-radius: 150px;
        opacity: 0.7;
    }

    #tercero {
        background-color: white;
        overflow: hidden;
    }

    .tituloproducto {
        text-align: center;
        margin-top: 20px;
        font-size: 40px;

    }

.tarjeta {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 18rem;
    height: 35rem;
}
.tarjeta img {
    height: 60%;
}
.btn-arreglo2 {
    background-color: $color-botones;
    color: white;
    margin-bottom: 10px;
}
.btn-arreglo2:hover {
    background-color: #182774ef;
}
    .contenedor {
        margin: 10px 5px;
        float: left;
        box-shadow: 0px 4px 4px 0px;
        border: outset;
    }

    .contenedor:hover {
        border-width: 2px;
        border-color: black;
    }

    .productodestacado {
        float: left;
        margin: 14px 56px 5px 53px;
        width: 350px;
    }

    .productodestacado img {
        width: 350px;
        height: 400px;
    }

    .descripcion {
        text-align: center;
    }

    .negrita {
        font-weight: 800;
    }
   

 /*    @media (min-width:577px) and (max-width:991px) {
      
}



    @media (min-width:320px) and (max-width:576px) {

    } */