 
 .grid-todo {
     display: grid;
     grid-template-areas:
         "aside articulo1 articulo2 articulo3"
         "aside articulo4 articulo5 articulo6"
     ;
     background-color: $color-fondo1;

     .asideespecial {
         display: flex;
         background-color: $color-fondo2;
         grid-area: aside;
         width: 250px;
         height: 100%;
         text-align: center;
         padding: 50px;

         .formularioo {
             & h2 {
                 padding-top: 30px;
                 font-size: 25px;
             }

             & p {
                 padding: 20px;
                 font-weight: 600;
             }

             .cuadradito:hover {
                 width: 15px;
                 height: 15px;
             }
         }

     }

     .btn-arreglo {
         background-color: $color-botones;
         color: white;
         margin-bottom: 10px;
     }

     .btn-arreglo:hover {
         background-color: #182774ef;
     }

     .grid-productos {
         display: grid;
         grid-template-areas:
             "articulo1 articulo2 articulo3"
             "articulo4 articulo5 articulo6"
         ;

         .productosflex {
             display: flex;
             text-align: center;
         }

         .productodrc {
             display: flex;
             align-items: center;
             background-color: $color-fondo2;
             flex-wrap: wrap;

         }

         .articulo1 {
             background-color: #ffffff;
             grid-area: articulo1;
             text-align: center;
             margin: 10px 0px;
             box-shadow: 0px 4px 8px 0px;
             width: 400px;
             height: 500px;
             margin-left: 20px;
         }

         & p {
             font-weight: 700;
         }

         .imgespecial1 {
             width: 250px;
             height: 300px;
             text-align: center;
             align-items: center;
         }

         .articulo2 {
             background-color: #ffffff;
             grid-area: articulo2;
             text-align: center;
             margin: 10px 0px;
             box-shadow: 0px 4px 8px 0px;
             border: outset;
             width: 400px;
             height: 500px;
             margin-left: 20px;

             & p {
                 font-weight: 700;
             }

             .imgespecial2 {
                 width: 250px;
                 height: 300px;
                 text-align: center;
                 align-items: center;

             }

             .ayudita {
                 margin-top: 100px;
             }
         }

         .articulo3 {
             background-color: #ffffff;
             grid-area: articulo3;
             text-align: center;
             margin: 10px 0px;
             box-shadow: 0px 4px 8px 0px;
             border: outset;
             width: 400px;
             height: 500px;
             margin-left: 20px;

             & p {
                 font-weight: 700;
             }

             .imgespecial3 {
                 width: 250px;
                 height: 300px;
                 text-align: center;
                 align-items: center;
             }
         }

         .articulo4 {
             background-color: #ffffff;
             grid-area: articulo4;
             text-align: center;
             margin: 10px 0px;
             box-shadow: 0px 4px 8px 0px;
             border: outset;
             width: 400px;
             height: 500px;
             margin-left: 20px;

             & p {
                 font-weight: 700;
             }

             .imgespecial4 {
                 width: 250px;
                 height: 300px;
                 text-align: center;
                 align-items: center;
             }
         }

         .articulo5 {
             background-color: #ffffff;
             grid-area: articulo5;
             text-align: center;
             margin: 10px 0px;
             box-shadow: 0px 4px 8px 0px;
             border: outset;
             width: 400px;
             height: 500px;
             margin-left: 20px;

             & p {
                 font-weight: 700;
             }

             .imgespecial5 {
                 width: 250px;
                 height: 300px;
                 text-align: center;
                 align-items: center;
             }
         }

         .articulo6 {
             background-color: #ffffff;
             grid-area: articulo6;
             text-align: center;
             margin: 10px 0px;
             box-shadow: 0px 4px 8px 0px;
             border: outset;
             width: 400px;
             height: 500px;
             margin-left: 20px;

             & p {
                 font-weight: 700;
             }

             .imgespecial6 {
                 width: 250px;
                 height: 300px;
                 text-align: center;
                 align-items: center;
             }
         }
     }



     .tama単o {
         font-size: 35px;
     }
 }

 /*--------------------RESPONSIVE DESKTOP---------------------*/

 @media (min-width:1051px) and (max-width:1519px) {

     .grid-todo {
         .asideespecial {
             width: 250px;
         }

         .grid-productos {

             .articulo1 {
                 margin-left: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial1 {
                     width: 240px;

                 }
             }

             .articulo2 {
                 margin-left: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial2 {
                     width: 240px;
                 }
             }

             .articulo3 {
                 margin: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial3 {
                     width: 240px;
                 }
             }

             .articulo4 {
                 margin-left: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial4 {
                     width: 240px;
                 }
             }

             .articulo5 {
                 margin: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial5 {
                     width: 240px;
                 }
             }

             .articulo6 {
                 margin-left: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial6 {
                     width: 240px;
                 }
             }
         }

     }
 }

 /*-----------------------RESPONSIVE TABLET----------------------*/

 @media (min-width:750px) and (max-width:1050px) {
     .grid-todo {
         .asideespecial {
             width: 200px;
             padding-left: 25px;

             .tama単o {
                 font-size: 30px;
             }
         }

         .grid-productos {
             display: grid;
             grid-template-areas:
                 "articulo1 articulo2"
                 "articulo3 articulo4"
                 "articulo5 articulo6"
             ;
             margin-left: 0%;

             .articulo1 {
                 margin-left: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial1 {
                     width: 240px;
                 }
             }

             .articulo2 {
                 margin-left: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial2 {
                     width: 240px;
                 }
             }

             .articulo3 {
                 margin: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial3 {
                     width: 240px;
                 }
             }

             .articulo4 {
                 margin-left: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial4 {
                     width: 240px;
                 }
             }

             .articulo5 {
                 margin: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial5 {
                     width: 240px;
                 }
             }

             .articulo6 {
                 margin-left: 10px;
                 width: 250px;
                 height: 520px;

                 .imgespecial6 {
                     width: 240px;
                 }
             }
         }
     }

 }

 @media (min-width:577px) and (max-width:750px) {
     .grid-todo {
         .asideespecial {
             width: 200px;
             padding-left: 25px;

             .tama単o {
                 font-size: 30px;
             }
         }

         .grid-productos {
             display: grid;
             grid-template-areas:
                 "articulo1"
                 "articulo2"
                 "articulo3"
                 "articulo4"
                 "articulo5"
                 "articulo6"
             ;
             margin-left: 0%;


             .articulo1 {
                 margin-left: 20px;
                 width: 300px;
                 height: 520px;

                 .imgespecial1 {
                     width: 240px;

                 }
             }

             .articulo2 {
                 margin-left: 20px;
                 width: 300px;
                 height: 520px;

                 .imgespecial2 {
                     width: 240px;
                 }
             }

             .articulo3 {
                 margin: 20px;
                 width: 300px;
                 height: 520px;

                 .imgespecial3 {
                     width: 240px;
                 }
             }

             .articulo4 {
                 margin-left: 20px;
                 width: 300px;
                 height: 520px;

                 .imgespecial4 {
                     width: 240px;
                 }
             }

             .articulo5 {
                 margin: 20px;
                 width: 300px;
                 height: 520px;

                 .imgespecial5 {
                     width: 240px;
                 }
             }

             .articulo6 {
                 margin-left: 20px;
                 width: 300px;
                 height: 520px;

                 .imgespecial6 {
                     width: 240px;
                 }
             }
         }

     }
 }

 /*------------------------RESPONSIVE MOVIL-------------------*/

 @media (min-width:320px) and (max-width:576px) {
     .grid-todo {
         .asideespecial {
             width: 80px;
             padding-left: 0px;

             .formularioo {
                 font-size: 9px;
             }

             .tama単o {
                 display: none;
             }
         }

         .grid-productos {
             display: grid;
             grid-template-areas:
                 "articulo1"
                 "articulo2"
                 "articulo3"
                 "articulo4"
                 "articulo5"
                 "articulo6"
             ;
             margin-left: 0%;

             .articulo1 {
                 margin-left: 10px;
                 width: 225px;
                 height: 420px;

                 .imgespecial1 {
                     width: 180px;
                     height: 200px;
                 }
             }

             .articulo2 {
                 margin-left: 10px;
                 width: 225px;
                 height: 420px;

                 .imgespecial2 {
                     width: 180px;
                     height: 200px;
                 }
             }

             .articulo3 {
                 margin: 10px;
                 width: 225px;
                 height: 420px;

                 .imgespecial3 {
                     width: 180px;
                     height: 200px;
                 }
             }

             .articulo4 {
                 margin-left: 10px;
                 width: 225px;
                 height: 420px;

                 .imgespecial4 {
                     width: 180px;
                     height: 200px;
                 }
             }

             .articulo5 {
                 margin: 10px;
                 width: 225px;
                 height: 420px;

                 .imgespecial5 {
                     width: 180px;
                     height: 200px;
                 }
             }

             .articulo6 {
                 margin-left: 10px;
                 width: 225px;
                 height: 420px;

                 .imgespecial6 {
                     width: 180px;
                     height: 200px;
                 }
             }
         }
     }
 }