/*--------------------------------------------------DISEÑO DESKTOP--------------------------------------------------*/
.examen {
    background-image: url(../images/clinica.jpg);
    @include img-servicios (800px, 100%, no-repeat, initial, cover);
}

.vacuna {
    background-image: url(../images/vacunacion.jpg);
    @include img-servicios (800px, 100%, no-repeat, initial, cover);
}

.pelu {
    background-image: url(../images/peluqueria.jpg);
    @include img-servicios (800px, 100%, no-repeat, initial, 100% 100%);
    

}

.shop {
    background-image: url(../images/petshop.jpg);
    @include img-servicios (800px, 100%, no-repeat, initial, 100% 100%);

}

.inter {
    background-image: url(../images/internacion.jpg);
    @include img-servicios (800px, 100%, no-repeat, initial, cover)
}

.row {
    margin-right: 0%;

    .orden-caja {
        text-align: center;
        margin: 0%;
        padding: 0%;

        .centrar-titulo {
            text-align: center;
            color: #0E1742;
            font-weight: 700;
            font-size: 5rem;

        }

        .btn-arreglo {
            position: absolute;
            top: 75%;
            right: 45%;
            background-color: $color-botones;
            color: white;

        }

        .color-fondo1 {
            background-color: $color-fondo1;
        }

        .color-fondo2 {
            background-color: $color-fondo2;
        }
    }
}

/*--------------------------------------------------RESPONSIVE TABLET--------------------------------------------------*/

@media (min-width:577px) and (max-width:991px) {
    
    .examen {
        background-image: url(../images/clinica.jpg);
        @include img-servicios (650px, 100%, no-repeat, initial, 100% 100%);
    }
    .vacuna {
        background-image: url(../images/vacunacion.jpg);
        @include img-servicios (650px, 100%, no-repeat, initial, 100% 100%);
    }
    .pelu {
        background-image: url(../images/peluqueria.jpg);
        @include img-servicios (650px, 100%, no-repeat, initial, 100% 100%);
    
    }
    .shop {
        background-image: url(../images/petshop.jpg);
        @include img-servicios (650px, 100%, no-repeat, initial, 100% 100%);
    
    }
    
    .inter {
        background-image: url(../images/internacion.jpg);
        @include img-servicios (650px, 100%, no-repeat, initial, cover)
    }

    .row {
        .orden-caja {
            text-align: center;
            .centrar-titulo {
                font-weight: 600;
                font-size: 4rem;
            }

            .btn-arreglo {
                position: absolute;
                top: 75%;
                right: 35%;
            }
        }
    }
}

/*--------------------------------------------------RESPONSIVE MOVIL--------------------------------------------------*/

@media (min-width:430px) and (max-width:576px) {
   
    .examen {
        background-image: url(../images/clinica.jpg);
        @include img-servicios (550px, 100%, no-repeat, initial, 100% 100%);
    }
    .vacuna {
        background-image: url(../images/vacunacion.jpg);
        @include img-servicios (550px, 100%, no-repeat, initial, 100% 100%);
    }
    .pelu {
        background-image: url(../images/peluqueria.jpg);
        @include img-servicios (550px, 100%, no-repeat, initial, 100% 100%);
    
    }
    .shop {
        background-image: url(../images/petshop.jpg);
        @include img-servicios (550px, 100%, no-repeat, initial, 100% 100%);
    
    }
    
    .inter {
        background-image: url(../images/internacion.jpg);
        @include img-servicios (550px, 100%, no-repeat, initial, cover)
    }

    .row {
        .orden-caja {
            text-align: center;
            .centrar-titulo {
                font-weight: 600;
                font-size: 3rem;
            }

            .btn-arreglo {
                position: absolute;
                top: 75%;
                right: 33%;
            }
        }
    }
}
@media (min-width:320px) and (max-width:430px) {
   
    .examen {
        background-image: url(../images/clinica.jpg);
        @include img-servicios (500px, 100%, no-repeat, initial, 100% 100%);
    }
    .vacuna {
        background-image: url(../images/vacunacion.jpg);
        @include img-servicios (500px, 100%, no-repeat, initial, 100% 100%);
    }
    .pelu {
        background-image: url(../images/peluqueria.jpg);
        @include img-servicios (500px, 100%, no-repeat, initial, 100% 100%);
    
    }
    .shop {
        background-image: url(../images/petshop.jpg);
        @include img-servicios (500px, 100%, no-repeat, initial, 100% 100%);
    
    }
    
    .inter {
        background-image: url(../images/internacion.jpg);
        @include img-servicios (500px, 100%, no-repeat, initial, cover)
    }
    .row {
        .orden-caja {
            text-align: center;
            .centrar-titulo {
                font-weight: 600;
                font-size: 3rem;
            }

            .btn-arreglo {
                position: absolute;
                top: 75%;
                right: 25%;
            }
        }
    }
}
