
.fondoregis {
    background-color: #fbe3e3;

    .tittleregis {
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
    }
    .color_form {
        background-color: #fbe3e3;
        text-align: center;
    }
    .espacio {
        text-align: center;
        margin-left: 250px;
    }
    .espacio1 {
        margin-left: 400px;
    }
    .btn {
        margin-bottom: 20px;
        width: 6rem;
        height: 3rem;
    }
}
.fondoing {
    background-color: #E1EFFF;
    text-align: center;
    
    .tittleing {
        margin-top: 20px;
        text-align: center;
    }
    .fondo5 {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        line-height: 50px;
        padding: 30px;
        background-color: #e1efff;
        margin-bottom: 20px;
    }
}
