
$color-header: #0E1742;

$color-botones:#0E1742;

$color-footer:#0E1742;

$color-fondo1: #ECE0ED;

$color-fondo2: #E3E8FF;

$font-size-tittle: 40px;

$font-size-body: 18px;

@mixin img-servicios ($height,$width,$background-repeat,$background-position,$background-size) {
    height: $height;
    width: $width;
    background-repeat: $background-repeat;
    background-position: $background-position;
    background-size: $background-size;

}









