footer {
    background-color: $color-footer;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 0%;

    .menuinferior {
        margin-top: 10px;
      
    & li {
        list-style-image: url(../images/huella.png); 
    }
    & a {
     font-weight: 800;
     text-decoration: none;
     color: #E3E8FF;
     text-align: center;
     font-family: sans-serif;
    }
   }
    .redes {
     color: #E3E8FF;
     text-align: center;
     .spam {
     font-size: 40px;
     margin-top: 10px;
     }
    }
    .ig:hover {
        width: 70px;
        height: 70px;

    }

    .fc:hover {
        width: 70px;
        height: 70px;
    }

    .tw:hover {
        width: 70px;
        height: 70px;
    }
    .contacto {
     margin-top: 10px;
     font-weight: 800;
     text-align: center;
     font-family: sans-serif;
     color: #E3E8FF;
    }
  
}