header {
    background-color: $color-header;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;

    .menusuperior {
        list-style-type: none;
        text-align: center;
        width: 100%;
        margin: 0%;
    
        & li {
         display: inline-block;
         margin-right: 3rem;
         margin-left: 6rem;
         margin-top: 0%;
        }
        & a {
         text-decoration: none;
         color: #ECE0ED;
         padding: 0rem;
         font-size: 1.2rem;
         font-weight: 600;

         &:hover {
            text-decoration: none;
            color: #ECE0ED;
            padding: 0rem;
            font-size: 24px;
            font-weight: 700;
            color: white;
           }
        }
        
    }
.btn-menu {
    background-color: #ECE0ED;
}
    .nav__color {
        background-color: $color-header;

        .navbar-toggler {
            margin-right: 10px;
        }
    }
    .navbar {
        width: 100%;
        margin: 0%;

        &-nav {
            margin: 0%;

            & li {
                margin-right: 12px;
                margin-left: 24px; 
            }
        }
        &-toggler {
            margin-right: 10px;
        }
        
    }
    .logo {
    
        text-align: left;
        margin: 12px 20px 10px 0px;
        display: inline-block;
        justify-content: space-evenly;
    }
}

